
@font-face {
	font-family: 'ZonaPro-Thin';
	src: url('././fonts/ZonaPro-Thin.eot');
	src: local('☺'), url('./fonts/ZonaPro-Thin.woff') format('woff'), url('./fonts/ZonaPro-Thin.ttf') format('truetype'), url('./fonts/ZonaPro-Thin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'ZonaPro-Bold';
	src: url('./fonts/ZonaPro-Bold.eot');
	src: local('☺'), url('./fonts/ZonaPro-Bold.woff') format('woff'), url('./fonts/ZonaPro-Bold.ttf') format('truetype'), url('./fonts/ZonaPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



h1,
h2,
h3,
h4,
h5,
h6 {

  font-family: 'ZonaPro-Bold';
}




p,  a{
  font-family: 'ZonaPro-Thin';
}

body {
  font-family: 'ZonaPro-Thin';
  margin: 0; 
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font: 400 1.4em/1.4 Helvetica, Arial, sans-serif; */
  font-family: 'base', sans-serif !important;
  font: 400 1.4em/1.4 Helvetica, Arial, sans-serif;
}

html {
  font-size: 1rem;
}

*, :after, :before {

  box-sizing: border-box;
}

h2 {
  font-size: 3.6rem;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}








/* 
html, body, #root {
  height: 100%;
} */
